<!doctype html>
<html>
    <body>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <h1>Welcome to KSLogin</h1>
        <ul>
            <li>If this is the first time you run this on your computer,
                initialize the database by visiting the route /initdb</li>
            <li>To create and/or train you profile go to /train/username</li>
            <li>Go to /dump to export the latests data on the database</li>
            <li>Finally, when you reach /login a classifier will be created
                and fitted with that data, so you can test it</li>
        </ul>
    </body>
</html>
