<!doctype html>
<html>
    <body>

        <div align="center">
        <form id = "value" method = "post">

            <p>Enter username:</p>
            <p><input type=text name=username /></p>
            <p>Enter the following phrase: {{vs.asked}}</p>
            <p><input type=text name=collected /></p>
            <p><input type=hidden name=asked value={{vs.asked}} /></p>
            <p><input type=hidden name=timestamp value={{vs.timestamp}} /></p>
            <input type="submit" value="Submit">
        </form>
        </div>

        {% if vs.ellapsed > 0 %}
            <h3>Error: {{vs.ellapsed}} s</h3>
        {% endif %}

    </body>
</html>
